@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s linear;
  
}
body{
  background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%);
  padding:20px;
}

.containerr{
  background: #2f2841;
   width: 90%;
   
   text-align: start;
   padding: 75px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
}

body,
html{
  overflow-x: hidden;
  
}

#nav-toggler{
  -webkit-appearance: none;
  position: fixed;
  top:20px; right:30px;
  cursor: pointer;
  z-index: 1010;
  font-size: 3rem;
}

#nav-toggler:checked{
  transform: rotate(180deg);
}

#nav-toggler:checked::before{
  content: '\f00d';
  color:#fff;
  transition: .2s linear .2s;
}

/*  mudar de tela */
/* #nav-toggler:checked ~ .navbar{
  left:0;
} */




.navbar{
  position: fixed;
  top:0; left:-110%; 
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding:0 10%;
  
}

.navbar a{
  font-size: 4em;
  color:transparent;
  /* -webkit-text-stroke: .5px rgba(255,255,255,.5); */
  -webkit-text-stroke: .5px blueviolet;
  font-weight: bolder;
  position: relative;
  letter-spacing: 3px;
  
  
}

/* cor dps de passar o mouse */
.navbar a::before{
  content: attr(data-text);
  position: absolute;
  top:0; left:0;
  /* color:rgba(255,255,255,.9); */
  color: blue;
  transition: .3s linear;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  
}

.navbar.active {
  left: 0;
  
}

.navbar a:hover::before{
  clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
  
}

.background-image{
  position: absolute;
  top:0; left:0;
  height: 100%;
  width: 100%;
  /* background: url(../images/nav-img-1.jpg) no-repeat; */
  background: url(../imagenss/smurf1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar a:hover:nth-child(1) ~ .background-image{
  background: url(../imagenss/smurf3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(2) ~ .background-image{
  background: url(../imagenss/smurf2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(3) ~ .background-image{
  background: url(../imagenss/smurf6.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(4) ~ .background-image{
  background: url(../imagenss/smurf4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(5) ~ .background-image{
  background: url(../imagenss/smurf5.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}


@media (max-width:768px){
  .navbar a{
    font-size: 3em;
  }
}

@media (max-width:450px){
  .navbar a{
    font-size: 2em;
  }
}




/* video */

.container{
  /* max-width: 1400px; */
  max-width: 900px;
  margin:110px auto;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  
  gap:20px;


  background: #4d5ba7;
   width: 90%;
   
   text-align: start;
   padding: 75px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
  
}

.container .main-video-container{
  flex:1 1 600px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: #fff;
  padding:15px;
  
  
}

.container .main-video-container .main-video{
  margin-bottom: 7px;
  border-radius: 5px;
  width: 100%;
}

.container .main-video-container .main-vid-title{
  font-size: 0px;
  color:#444;
}

.container .video-list-container{
  flex:1 1 550px;
  height: 685px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: #4d5ba7;
  padding:15px;
}

/* barrinha dentro do video para subir e descer */
.container .video-list-container::-webkit-scrollbar{
  width: 20px;
}

.container .video-list-container::-webkit-scrollbar-track{
  background-color: #fff;
  border-radius: 5px;
}

.container .video-list-container::-webkit-scrollbar-thumb{
  background-color: #444;
  border-radius: 5px;
}

.container .video-list-container .list{
  display: flex;
  align-items: center;
  gap:15px;
  padding:10px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container .video-list-container .list:last-child{
  margin-bottom: 0;
}

.container .video-list-container .list.active{
  background-color: #8956F3;
}

.container .video-list-container .list.active .list-title{
  color:#fff;
}

.container .video-list-container .list .list-video{
  width: 100px;
  border-radius: 5px;
}

.container .video-list-container .list .list-title{
  font-size: 17px;
  color:#444;
}




/* slide inicio */

.contente {
  height: 920px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position:relative;
  margin-top: 30%;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);


/* 
  background: #4d5ba7;
   width: 80%;
   
   text-align: start;
   padding: 1px;
   border: none;
   border-radius: 95px;
   cursor: pointer; */
  
}

.navigation {
  position: absolute;
  bottom: 60px;
  left: 40%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 20px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .6s;
}

/* .slide {
  width: 1131px;
  height: 707px;
} */

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: .6s;
}

.slide img {
  height: 50rem;
   width: 50rem;
   border-radius: 15px;
   object-fit: cover;
   margin-bottom: 4rem;
   user-select: none;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}







@media (max-width:1200px){

  .container{
     margin:0;
  }

}

@media (max-width:450px){

  .container .main-video-container .main-vid-title{
     font-size: 15px;
     text-align: center;
  }

  .container .video-list-container .list{
     flex-flow: column;
     gap:10px;
  }

  .container .video-list-container .list .list-video{
     width: 100%;
  }

  .container .video-list-container .list .list-title{
     font-size: 15px;
     text-align: center;
  }

}