@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background:url(../images/11111.png) ;
}

body h2 {
  color:#00ff88;
  
}

.question {
  color: #00ff88;
}

main {
  background: #2f2841;
  padding: 40px;
  border-radius: 40px;
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
  color: #00ff88;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100%;
  text-align: start;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #00ff88;
  color: #2f2841;
}

.buttonresp {
  color: #2f2841;
  background: #00ff88;;
  width: 30%;
  text-align: start;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

.finish span {
  color: #00ff88;
}